@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: YsabeauInfant-Regular;
        src: url('/public/fonts/YsabeauInfant-Regular.ttf') format('opentype');
    }
    @font-face {
        font-family: YsabeauInfant-Medium;
        src: url('/public/fonts/YsabeauInfant-Medium.ttf') format('opentype');
    }
    @font-face {
        font-family: YsabeauInfant-Bold;
        src: url('/public/fonts/YsabeauInfant-Bold.ttf') format('opentype');
    }
}

.bg-gold {
    background: url('/public/img/gold3.avif'); 
    background-size: 200%;
    background-position: 0%;
}

.text-gold {
    background: url('/public/img/gold3.avif'); 
    background-size: 200%;
    background-position: 0%;
    background-clip: text; 
    -webkit-background-clip: text; 
    color: transparent;
}

.gold-animation {
    animation-name: gold; 
    animation-duration: 3s;
    animation-iteration-count:infinite;
}

.hover-gold-animation:hover {
    scale: 1.01;
    animation-name: gold; animation-duration: 1.5s;
    animation-iteration-count:infinite;
}

@keyframes gold {
    0% {
        background-position: 0% 0;
    }
    50% {
        background-position: 50% 0;
    }
    100% {
        background-position: 0% 0;
    }
}